<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="Port" value="587"/>
    <add key="SenderName" value="TomWiet"/>
    <add key="SenderEmail" value="rsmailservicesystem@gmail.com"/>
    <add key="SenderEmailPassword" value="encrypt:cmsbsetejtjdbbvw"/>
    <add key="ReceiverEmail" value="tete10@wp.pl"/>
  </appSettings>
</configuration>